{{- if .Config.Sections.Header -}}
    {{- with .Module.Header -}}
        {{ sanitizeSection . }}
        {{ printf "\n" }}
    {{- end -}}
{{ end -}}

{{- if .Config.Sections.Requirements -}}
    {{- if not .Module.Requirements -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Requirements

            No requirements.
        {{ end }}
    {{ else }}
        {{- indent 0 "#" }} Requirements

        | Name | Version |
        |------|---------|
        {{- range .Module.Requirements }}
            | {{ anchorNameMarkdown "requirement" .Name }} | {{ tostring .Version | default "n/a" }} |
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Config.Sections.Requirements -}}
    {{- if not .Module.Requirements -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Requirements

            No requirements.
        {{ end }}
    {{ else }}
        {{- indent 0 "#" }} Requirements

        The following requirements are needed by this module:
        {{- range .Module.Requirements }}
            {{ $version := ternary (tostring .Version) (printf " (%s)" .Version) "" }}
            - {{ anchorNameMarkdown "requirement" .Name }}{{ $version }}
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Config.Sections.Providers -}}
    {{- if not .Module.Providers -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Providers

            No providers.
        {{ end }}
    {{ else }}
        {{- indent 0 "#" }} Providers

        | Name | Version |
        |------|---------|
        {{- range .Module.Providers }}
            | {{ anchorNameMarkdown "provider" .FullName }} | {{ tostring .Version | default "n/a" }} |
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Config.Sections.Providers -}}
    {{- if not .Module.Providers -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Providers

            No providers.
        {{ end }}
    {{ else }}
        {{- indent 0 "#" }} Providers

        The following providers are used by this module:
        {{- range .Module.Providers }}
            {{ $version := ternary (tostring .Version) (printf " (%s)" .Version) "" }}
            - {{ anchorNameMarkdown "provider" .FullName }}{{ $version }}
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Config.Sections.ModuleCalls -}}
    {{- if not .Module.ModuleCalls -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Modules

            No modules.
        {{ end }}
    {{ else }}
        {{- indent 0 "#" }} Modules

        | Name | Source | Description |
        |------|--------|-------------|
        {{- range .Module.ModuleCalls }}
            | {{ anchorNameMarkdown "module" .Name }} | {{ .Source }} | {{ tostring .Description | sanitizeMarkdownTbl }} |
        {{- end }}
    {{ end }}
{{ end -}}

{{- if or .Config.Sections.Resources .Config.Sections.DataSources -}}
    {{- if not .Module.Resources -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Resources

            No resources.
        {{ end }}
    {{ else }}
        {{- indent 0 "#" }} Resources

        | Name | Type | Description |
        |------|------|-------------|
        {{- range .Module.Resources }}
            {{- $isResource := and $.Config.Sections.Resources ( eq "resource" (printf "%s" .GetMode)) }}
            {{- $isDataResource := and $.Config.Sections.DataSources ( eq "data source" (printf "%s" .GetMode)) }}
            {{- if or $isResource $isDataResource }}
                {{- $fullspec := ternary .URL (printf "[%s](%s)" .Spec .URL) .Spec }}
                | {{ $fullspec }} | {{ .GetMode }} | {{ tostring .Description | sanitizeMarkdownTbl }} | 
            {{- end }}
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Config.Sections.Inputs -}}
    {{- if not .Module.Inputs -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Inputs

            No inputs.
        {{- end }}
    {{ else }}
        {{- indent 0 "#" }} Inputs

        | Name | Description |
        {{- if .Config.Settings.Type }} Type |{{ end }}
        {{- if .Config.Settings.Default }} Default |{{ end }}
        {{- if .Config.Settings.Required }} Required |{{ end }}
        |------|-------------|
        {{- if .Config.Settings.Type }}------|{{ end }}
        {{- if .Config.Settings.Default }}---------|{{ end }}
        {{- if .Config.Settings.Required }}:--------:|{{ end }}
        {{- range .Module.Inputs }}
            | {{ anchorNameMarkdown "input" .Name }} | {{ tostring .Description | sanitizeMarkdownTbl }} |
            {{- if $.Config.Settings.Type -}}
                {{ printf " " }}{{ tostring .Type | type | sanitizeMarkdownTbl }} |
            {{- end -}}
            {{- if $.Config.Settings.Default -}}
                {{ printf " " }}{{ value .GetValue | sanitizeMarkdownTbl }} |
            {{- end -}}
            {{- if $.Config.Settings.Required -}}
                {{ printf " " }}{{ ternary .Required "yes" "no" }} |
            {{- end -}}
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Config.Sections.Outputs -}}
    {{- if not .Module.Outputs -}}
        {{- if not .Config.Settings.HideEmpty -}}
            {{- indent 0 "#" }} Outputs

            No outputs.
        {{ end }}
    {{ else }}
        {{- indent 0 "#" }} Outputs

        | Name | Description |{{ if .Config.OutputValues.Enabled }} Value |{{ if $.Config.Settings.Sensitive }} Sensitive |{{ end }}{{ end }}
        |------|-------------|{{ if .Config.OutputValues.Enabled }}-------|{{ if $.Config.Settings.Sensitive }}:---------:|{{ end }}{{ end }}
        {{- range .Module.Outputs }}
            | {{ anchorNameMarkdown "output" .Name }} | {{ tostring .Description | sanitizeMarkdownTbl }} |
            {{- if $.Config.OutputValues.Enabled -}}
                {{- $sensitive := ternary .Sensitive "<sensitive>" .GetValue -}}
                {{ printf " " }}{{ value $sensitive | sanitizeMarkdownTbl }} |
                {{- if $.Config.Settings.Sensitive -}}
                    {{ printf " " }}{{ ternary .Sensitive "yes" "no" }} |
                {{- end -}}
            {{- end -}}
        {{- end }}
    {{ end }}
{{ end -}}

{{- if .Config.Sections.Footer -}}
    {{- with .Module.Footer -}}
        {{ sanitizeSection . }}
        {{ printf "\n" }}
    {{- end -}}
{{ end -}}
